<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Weather App</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="/css/styles.css" rel="stylesheet">
	</head>
	<body>
        <div class="container">
                <h1><%=title%></h1>
                <h2>Name: <%=output.city.name%></h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Weather</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%for(let i=0; i<output.list.length;i++){%>
                            <tr>
                                <td><%=output.list[i].dt%></td>
                                <td><%=output.list[i].temp.day%></td>
                            </tr>    
                        <%}%>

                    </tbody>
                </table>
        </div>
        
    </body>
</html>